<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs') %> 
    <title>
        <%= title  %> 
    </title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %> 
    <h1>Ejs About</h1>
</body>
</html>