<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs') %> 
    <title>
        <%= title  %> 
    </title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %> 
    <div class="container">
        <h1>Ejs Product page</h1>
    </div>
    <div id="app"></div>
    <%- include('../partials/script.ejs') %> 
    
 
</body>
</html>